
*{
       margin:0;
       padding: 0;
       border:0;
       text-decoration: none;
}
#mainH2{
       font-family: 'Kaushan Script', cursive;
       background-color: black;
       margin-top: 6px;
       color: red;
       border-style: solid;
       border-color: black;
       margin-left: auto;
       margin-right: auto;
       padding: 0;
       margin:0;
       border:0;

}
header{
       margin: auto;
       margin-left: auto;
       margin-right: auto;
       background-color: black;
       position: fixed;
       width: 100%;
       margin-top:  -70px;
    
}
.mainX2{
     float: left;   
}
.color1{
       
       width: 100%;
       height: 100%;                /* 590 */
       margin-top: -20px;
}
#qw{
       transform: scale(-1, 1);
       position: absolute;
       right: 0;
       z-index: -5;

}
}
.blood {
       color:red;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,       
       4px 20px 1px #B00000,       
       4px 22px 1px #C00000,       
       4px 24px 1px #D00000;

}
.bloodH {
       color:red;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,       
       4px 20px 1px #B00000,       
       4px 22px 1px #C00000,       
       4px 24px 1px #D00000;

}
#info{
       width: 580px;
       height: 340px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;

}
#infoText{
       font-family: 'Marck Script', cursive;
       color:red;
       font-size: 25px;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000;       
}
body{
       padding-top: 70px;
       background:  #131313  ;
}
.menuMenu
{
       border: 1px solid black;
       padding: 5px 0;
       height: 50px;
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
}
.menuItem
{
       display: inline-block;
       margin-left: 50px;
}
.menuItemMain{
       position: fixed;
       right: 0;
       text-decoration: none;
       background-color: #161616;
       color:#fff;
       margin-top: 4px;
       margin-right:  5px;
       font-size: 22px;
       border: 2px double #161616;
       font-family: 'Forum', cursive; 
}
.menuItemMain:hover{
       background:   #222222;
       border: 2px double  #222222;
       color: red;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000;
    
}
.menuItemAutor{
       position: fixed;
       right: 0;
       text-decoration: none;
       background-color: #161616;
       color:#fff;
       margin-top: 7px;
       margin-right:  83px;
       font-size: 22px;
       font-family: 'Forum', cursive; 
}
.menuItemAutor:hover{
       background:   #222222;
       color: red;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000;
    
}
.menuItemInterested{
       position: fixed;
       right: 0;
       text-decoration: none;
       background-color: #161616;
       color:#fff;
       margin-top: 7px;
       margin-right:  283px;
       font-size: 22px;
       font-family: 'Forum', cursive; 
}
.menuItemInterested:hover{
       background:   #222222;
       color: red;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000;   
}
h3{
       font-family: 'Amatic SC', cursive;
       color:red;
       font-size: 100px;
       text-align: center;
       margin-top: 20px;
}
.content{
       width: 60%;
       height: 300px;
       background: linear-gradient(to top,  #fff,  #c4c4c4 );
       margin-right: auto;
       margin-left: auto;
       margin-top: 30px;
       text-decoration: none;
       border: 1px solid #ffd4d4;
       box-shadow: 0px 0px 50px red;
}
.contentImage{
       background-color: red;
       width:300px;
       height: 300px;
       text-decoration: none;
}

.header{
       margin-left:  300px;
       margin-top:-300px;
       text-decoration: none;
       font-family: 'Underdog';
       color: black;
       font-size: 35px;
}
.description{
       text-decoration: none;
       color: black;
       margin-left:  300px;
       font-family: 'Alegreya SC', serif;
       font-size: 15px;
}
.descriptionMobile{
       text-decoration: none;
       color: black;
       margin-left:  300px;
       font-family: 'Alegreya SC', serif;
       font-size: 15px;
}
.bannersLeft{
       width: 220px;
       height: 625px;
       background: red;
       position: absolute;
       left:  10px;
       margin-top: -200px;
       z-index: -10;
}
@font-fase{
       font-family: Fear;
       src:url(18700.ttf);
}
.bloodyMoon{
       transform: scale(1, -1);
       margin-top:  -10px;
}
#youStana{
       font-family: 'Pangolin', cursive;
       text-align: center;
       margin-top: -500px;
}
.bannersRight{
       width: 220px;
       height: 625px;
       background: red;
       position: absolute;
       right:   10px;
       margin-top: -200px;
       z-index: -10;
}
.QOScontent{
       background-color: #fff;
       width: 60%;
       margin-left: auto;
       margin-right: auto;
}
.menuItems{
       margin-top:  -36px;
}
.menuItemsAbbreviated{
       margin-top:  -36px;
       position: fixed;
       right: 0;
       text-decoration: none;
       background-color: #161616;
       color:#fff;
       margin-top: 7px;
       margin-right:  10px;
       font-size: 22px;
       display: none;
}
.mobileMenu > a{
       color:   #fff ;
       font-family: 'PT Sans Narrow', sans-serif;
       font-size: 60px;
       text-align: center;
       text-shadow:
       4px 4px 1px #300000,
       4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000;
       font-family: 'Caveat';
       padding-top:  -10px;
}      
.mobileMenu > a > div{
       background:   black ;
       width: 720px;
       border: 1px solid #696969 ;      
}
.mobileMenu{
       position: fixed;
       right: 0;
       display: none;
}
.descriptionMobile{
       display: none;

}

@media screen and (max-width: 720px){
       .bloodH{
              font-size: 10%;
              font-size: 30px;
              text-align: center;
       }
       .color1{
              margin-left: auto;
              margin-right: auto;
       }
       #info{
              width: 500px;
       }
       html{
              margin-left: auto;
              margin-right: auto;
              width: 720px;
              margin-top: 40px;
       }
       .menuMenu{
             padding: 12px 0;
             height: 110px; 
             margin-top: -110px;
       }
       .menuItem{
              font-size: 60px;
       }
       .menuItems{
              display: none;
       }
       .menuItemsAbbreviated{
              display: inline;
              font-size: 60px;
              width: 100px;
              text-align: center;
              margin-top: -10px;
       }
       #youStana{
              font-size: 70px;
              margin-top: -1060px;
       }
       #info{
              margin-top: 980px;
              width: 90%;
       }
       .qw2Adaptive{
              margin-top: 10px;
       }
       #qw{
              display: none;
       }
       .color1 > img{
              width: 703px;
              height: 1060px;
       }
       #infoText{
              font-size: 47px;
       }
       .interestedLable{
              margin-top: 870px;
       }
       .content{
              width: 90%;
       }
       .banners{
              display: none;
       }
       .bannersLeft{
              display: none;
       }
       .bannersRight{
              display: none;
       }
       .descriptionMobile{
              font-size: 20px;
              display: inline;
       
       }
       #bobo{
              display: none;
       }

}
@media screen and (min-width: 1200px){
       #youStana{
              font-size: 60px;
       }
}
